<div class="container mt-5">
  <div
    *ngrxLet="quizQuestionsService.getQuestionList() as questionList"
    class="card"
  >
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img
          src="https://img.icons8.com/color/96/000000/angularjs.png"
          width="90"
          alt="logo"
        />
      </div>
      <div class="quiz-header">
        <h4 style="font-family: cursive">Angular & TypeScript Quiz!</h4>
        <span style="font-style: italic"
          >Welcome {{ quizQuestionsService.name$ | ngrxPush }}</span
        >
      </div>
    </div>
    @if (quizQuestionsService.isQuizActive$ | ngrxPush) {
    <app-quiz-questions-header
      [counter]="(quizQuestionsService.counter$ | ngrxPush) || 0"
      [currentQuestionNumber]="
        (quizQuestionsService.currentQuestionNumber$ | ngrxPush) || 0
      "
      [points]="(quizQuestionsService.points$ | ngrxPush) || 0"
      [progress]="(quizQuestionsService.progress$ | ngrxPush) || 0"
      [totalQuestions]="(quizQuestionsService.totalQuestions$ | ngrxPush) || 0"
    ></app-quiz-questions-header>
    <app-quiz-question
      *ngIf="
        quizQuestionsService.currentQuizQuestion$ | ngrxPush as currentQuestion
      "
      [quizQuestion]="currentQuestion"
      [isAnswered]="
        (quizQuestionsService.isCurrentQuestionAnswered$ | ngrxPush) || false
      "
      [isCorrect]="quizQuestionsService.isCurrentQuestionCorrect$ | ngrxPush"
      (optionSelect)="onOptionSelect($event)"
    ></app-quiz-question>
    <app-quiz-questions-navigation
      [shouldAllowPreviousQuestion]="
        (quizQuestionsService.isFirstQuestion$ | ngrxPush) || false
      "
      (previousQuestion)="onPreviousQuestion()"
      (resetQuiz)="onResetQuiz()"
      (nextQuestion)="onNextQuestion()"
    ></app-quiz-questions-navigation>
    } @else {
    <app-quiz-results [questionList]="questionList ?? []"></app-quiz-results>
    }
  </div>
</div>
