:host {
  display: grid;
  grid-template-areas:
    'points question timer'
    'progress progress progress';

  row-gap: 1rem;
  padding: 1rem;

  .score {
    grid-area: points;
  }

  .question {
    grid-area: question;

    font-style: italic;
  }

  .timer {
    grid-area: timer;
  }
}
