<div class="d-flex justify-content-between">
  <button [disabled]="!shouldAllowPreviousQuestion" class="btn" (click)="onPreviousClick()">
    <i class="fa text-primary fa-chevron-left fa-3x" aria-hidden="true"></i>
  </button>
  <button class="btn" (click)="onResetClick()">
    <i class="fa fa-refresh text-primary fa-3x" aria-hidden="true"></i>
  </button>
  <button class="btn" (click)="onNextClick()">
    <i class="fa text-primary fa-chevron-right fa-3x" aria-hidden="true"></i>
  </button>
</div>
