<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to Your Daily Quiz</h1>
  <p class="col-md-8 fs-4">This quiz will contain have 5 questions. Each question is worth 5 points.</p>
  <h4>Things to Note:</h4>
  <ol>
      <li>You will have 60 seconds to answer each question.</li>
      <li>Refereshing the page will reset the quiz.</li>
  </ol>
  <h2 style="font-family: Helvetica;text-align:left">May Angular be ever in your favor!!</h2>
  <div class="name col-md-4 my-3">
      <label for="">Enter your name:</label>
      <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/quiz-questions" (click)="startQuiz()">Start the Quiz!!</button>
</div>
