<h1 class="header">Welcome to Your Daily Quiz</h1>
<div class="info">
  <p>This quiz will contain have 5 questions. Each question is worth 5 points.</p>
  <h4>Things to Note:</h4>
  <ol>
    <li>You will have 60 seconds to answer each question.</li>
    <li>Refreshing the page will reset the quiz.</li>
  </ol>
  <h2>May Angular be ever in your favor!!</h2>
</div>
<div class="login">
  <div>
    <label for="">Enter your name:</label>
    <input #name [value]="name$ | ngrxPush" type="text" />
  </div>
  <button (click)="startQuiz(name.value)">Start the Quiz!!</button>
</div>
